	#myTextArea {
		position: relative;
		display: block;
		width: 100%;
		background: #ffffff;
		text-transform:capitalize;
		font-size: 15px;
		line-height: 26px;
		color: #888888;
		padding: 12px 15px;
		border-radius:7px;
		height: 50px;
		margin-bottom: 15px;
		border: 1px solid #e0e0e0;
		transition: all 300ms ease;
		-webkit-transition: all 300ms ease;
		-ms-transition: all 300ms ease;
		-o-transition: all 300ms ease;
		-moz-transition: all 300ms ease;
		
	}
/* 	//기업정보 회사소개 텍스트란 */
	#textArea{
		position: relative;
		display: block;
		width: 100%;
		background: #ffffff;
		text-transform:capitalize;
		font-size: 15px;
		line-height: 26px;
		color: #888888;
		padding: 12px 15px;
		border-radius:7px;
		height: 200px;
		margin-bottom: 15px;
		border: 1px solid #e0e0e0;
		transition: all 300ms ease;
		-webkit-transition: all 300ms ease;
		-ms-transition: all 300ms ease;
		-o-transition: all 300ms ease;
		-moz-transition: all 300ms ease;
	}

/* 데이터 테이블 css*/
.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px;
  vertical-align:middle;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

p {
	margin:0px;
	display:inline-block;
	font-size:15px;
	font-weight:bold;
}
.table{
	width: 115%
	
}

	
	/* admin dataTable */
	
	#table_admin {
		float: left;
		margin-left: 30px;
		margin-top : 30px;
		width: 70%;
		height: 100%;
	}
#table_scout {
		float: left;
		margin-left: 30px;
		margin-top : 30px;
		width: 120%;
		
	}
